In [88]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [89]:
# Ver quantas linhas, quantas colunas, os tipos e os nulos
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [90]:
# Ver média, desvio padrão, min, max das colunas numéricas
df_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [91]:
# Ver a distribuição de cada categoria
print("Planeta Natal:\n", df_train['HomePlanet'].value_counts())
print("\nEm Criosono:\n", df_train['CryoSleep'].value_counts())
print("\nDestino:\n", df_train['Destination'].value_counts())
print("\nAlvo - Transportado:\n", df_train['Transported'].value_counts(normalize=True))

Planeta Natal:
 HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

Em Criosono:
 CryoSleep
False    5439
True     3037
Name: count, dtype: int64

Destino:
 Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

Alvo - Transportado:
 Transported
True     0.503624
False    0.496376
Name: proportion, dtype: float64

In [92]:
print("Corrigindo os tipos de dados para nao dar problema depois")
df_train['VIP'] = df_train['VIP'].astype('boolean')
df_train['CryoSleep'] = df_train['CryoSleep'].astype('boolean')
df_test['VIP'] = df_test['VIP'].astype('boolean')
df_test['CryoSleep'] = df_test['CryoSleep'].astype('boolean')

Corrigindo os tipos de dados para nao dar problema depois

In [93]:
print("Zerando gastos para passageiros em CryoSleep, pois eles nao gastam")
cols_gastos = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
df_train.loc[df_train['CryoSleep'] == True, cols_gastos] = 0
df_test.loc[df_test['CryoSleep'] == True, cols_gastos] = 0

Zerando gastos para passageiros em CryoSleep, pois eles nao gastam

In [94]:
print("Preenchendo valores nulos num")
colunas_numericas = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

for col in colunas_numericas:
    mediana_treino = df_train[col].median() 
    df_train[col] = df_train[col].fillna(mediana_treino)
    df_test[col] = df_test[col].fillna(mediana_treino)

Preenchendo valores nulos num

In [95]:
print("Preenchendo valores nulos categóricos")
colunas_categoricas = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

for col in colunas_categoricas:
    moda_treino = df_train[col].mode()[0] 
    df_train[col] = df_train[col].fillna(moda_treino)
    df_test[col] = df_test[col].fillna(moda_treino)

Preenchendo valores nulos categóricos

In [96]:
print("\nVerificação de nulos no df_train:")
print(df_train.isnull().sum())

print("\nVerificação de nulos no df_test:")
print(df_test.isnull().sum())

Verificação de nulos no df_train:
PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

Verificação de nulos no df_test:
PassengerId      0
HomePlanet       0
CryoSleep        0
Cabin            0
Destination      0
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
Name            94
dtype: int64

In [97]:
# O .str.split expande a coluna em um novo DataFrame
df_train[['Deck', 'Num', 'Side']] = df_train['Cabin'].str.split('/', expand=True)
df_test[['Deck', 'Num', 'Side']] = df_test['Cabin'].str.split('/', expand=True)
print("deu")

deu

In [98]:
# Lista das colunas de gastos
cols_gastos = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
# Soma os valores (fillna(0) garante que nulos não atrapalhem a soma)
df_train['TotalSpent'] = df_train[cols_gastos].sum(axis=1)
df_test['TotalSpent'] = df_test[cols_gastos].sum(axis=1)
print("deu")

deu

In [99]:
# Remove colunas que não serão usadas como features no modelo.
df_train = df_train.drop('Name', axis=1)
df_test = df_test.drop('Name', axis=1)

print("Coluna 'Name' removida de ambos os dataframes.")

Coluna 'Name' removida de ambos os dataframes.

In [100]:
# Mapeamento de colunas booleanas
print("Iniciando a codificação das colunas...")
for df in [df_train, df_test]:
    for col in ['CryoSleep', 'VIP']:
        if col in df.columns: # VIP pode não estar no teste, mas está
            df[col] = df[col].astype('bool').astype('int')

# A coluna alvo 'Transported' só existe no df_train
df_train['Transported'] = df_train['Transported'].astype('bool').astype('int')
print("Colunas booleanas mapeadas.")

#One-Hot Encoding
colunas_para_encode = ['HomePlanet', 'Destination', 'Deck', 'Side']
df_train = pd.get_dummies(df_train, columns=colunas_para_encode, drop_first=True, dtype=int)
df_test = pd.get_dummies(df_test, columns=colunas_para_encode, drop_first=True, dtype=int)
print("Colunas categóricas mapeadas com get_dummies.")

#Pega as colunas do treino depois do get_dummies (excluindo o alvo)
train_cols = df_train.drop('Transported', axis=1).columns
test_cols = df_test.columns

# Colunas que estão no treino mas não no teste
missing_in_test = set(train_cols) - set(test_cols)
for c in missing_in_test:
    df_test[c] = 0

# Colunas que estão no teste mas não no treino 
missing_in_train = set(test_cols) - set(train_cols)
for c in missing_in_train:
    df_train[c] = 0

# Garante que a ordem das colunas seja a mesma
df_test = df_test[train_cols]

print("DataFrames alinhados. Agora eles têm as mesmas colunas.")

# VERIFICA
print("\nVerificando se ainda sobrou algum nulo em qualquer lugar")
print(f"Nulos restantes no df_train: {df_train.isnull().sum().sum()}")
print(f"Nulos restantes no df_test: {df_test.isnull().sum().sum()}")

Iniciando a codificação das colunas...
Colunas booleanas mapeadas.
Colunas categóricas mapeadas com get_dummies.
DataFrames alinhados. Agora eles têm as mesmas colunas.

Verificando se ainda sobrou algum nulo em qualquer lugar
Nulos restantes no df_train: 0
Nulos restantes no df_test: 0

In [101]:
# Criando a lista de features automaticamente
# Exclui colunas que não são úteis para o modelo
colunas_para_excluir = ['PassengerId', 'Cabin', 'Name', 'Transported']
features = [col for col in df_train.columns if col not in colunas_para_excluir]

# Separando os dados de treino em X e y
X = df_train[features]
y = df_train['Transported']

# Os nulos devem ter sumido.
print("Verificando nulos em X (DEPOIS DO TRATAMENTO):")
print(X.isnull().sum().sum())

print("\nVerificando nulos em y (DEPOIS DO TRATAMENTO):")
print(y.isnull().sum().sum())

print("\nNovas features selecionadas:")
print(features)

Verificando nulos em X (DEPOIS DO TRATAMENTO):
0

Verificando nulos em y (DEPOIS DO TRATAMENTO):
0

Novas features selecionadas:
['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Num', 'TotalSpent', 'HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G', 'Deck_T', 'Side_S']

In [102]:
# Divisão dos dados
X = df_train[features]
y = df_train['Transported']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# VERIFICA
print("Verificando nulos em X_train IMEDIATAMENTE antes do fit:")
print(X_train.isnull().sum().any()) # Deve imprimir False

print("Verificando nulos em y_train IMEDIATAMENTE antes do fit:")
print(y_train.isnull().sum().any()) # Deve imprimir False

Verificando nulos em X_train IMEDIATAMENTE antes do fit:
False
Verificando nulos em y_train IMEDIATAMENTE antes do fit:
False

In [103]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df_train[features]
y = df_train['Transported']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

#Crie e aplique o Scaler
scaler = StandardScaler()

# "Aprenda" a escala APENAS com os dados de treino e transforma
X_train_scaled = scaler.fit_transform(X_train)

# a MESMA escala aprendida para transformar os dados de validação
X_val_scaled = scaler.transform(X_val)

# treinando o modelo com os dados escalados
model = LogisticRegression(max_iter=1000)
model.fit(X_train_scaled, y_train) # Use X_train_scaled aqui

#fazer previsões com os dados de validação escalados
predictions = model.predict(X_val_scaled) # E X_val_scaled aqui

accuracy = accuracy_score(y_val, predictions)
print(f"A acurácia do nosso modelo de Regressão Logística é: {accuracy:.2%}")

A acurácia do nosso modelo de Regressão Logística é: 78.15%

In [104]:
# Selecionar as mesmas 'features' que foram usadas no treino
# A lista 'features' já foi criada em uma célula anterior
X_test_final = df_test[features]

#APLICAR O MESMO SCALER que foi treinado com os dados de treino
# É CRUCIAL usar apenas .transform() aqui, para aplicar a mesma escala
# que o modelo aprendeu, sem "aprender" de novo com os dados de teste.
X_test_final_scaled = scaler.transform(X_test_final)

#Fazer as previsões com os dados de teste preparados e escalados
final_predictions = model.predict(X_test_final_scaled)

# converter as previsões de volta para True/False, como no arquivo de exemplo
# O modelo retorna 0 e 1, o Kaggle espera booleanos (True/False)
final_predictions_bool = final_predictions.astype(bool)

#Criar o DataFrame para submissão
submission = pd.DataFrame({
    'PassengerId': df_test['PassengerId'], # Usa o PassengerId original do df_test
    'Transported': final_predictions_bool
})

#Visualiza e salvar o arquivo de submissão
print("Amostra do arquivo de submissão:")
print(submission.head())

submission.to_csv('submission.csv', index=False)

print("\nArquivo 'submission.csv' criado com sucesso!")

Amostra do arquivo de submissão:
  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

Arquivo 'submission.csv' criado com sucesso!